<h1>Bem vindo ao Sistema</h1>

   	<ul>
      <li><a href="<%= users_path %>">Usuários</a></li>
      <li><a href="<%= kinds_path %>">Tipos</a></li>
      <li><a href="<%= phones_path %>">Telefones</a></li>
      <li><a href="<%= addresses_path %>">Endereços</a></li>
    </ul>
