

h1 {
    text-align: center;
}

th {
    text-align: center;
    font-size: 15px;
}

.padrao {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 1px 15px 25px 10px;
    color: #888;
    border:1px solid #E4E4E4;
}

.form-group {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

input {
    width: 100%;
}

select {
    width: 100%;
}

input.btn {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.btn-success:visited, .btn-primary:visited, .btn-warning:visited, .btn-danger:visited {
    color: white;
}

.padrao#usuarios {
    max-width: 800px;
}

#paginador {
    font-size: 15px;
}

.botoes {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}
